{% extends 'base.html.twig' %}

{% block title %}Visualisation 360°{% endblock %}

{% block content %}
    <script src="{{ asset('js/pannellum.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/pannellum.css') }}">

    <body>
    <div id="panorama" style="width: 100%; height: 800px;"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let viewer = pannellum.viewer('panorama', {
                "type": "equirectangular",
                "panorama": "{{ asset('models/ArlodCableHTB.jpg') }}",
                "autoLoad": true,
                "yaw": 80,
                "pitch": 0,
                "hfov": 150,
                "hotSpots": [
                    {   //vers le coffret presence
                        "pitch": 0,
                        "yaw": 33,
                        "type": "custom",
                        "cssClass": "hotspot-circle",
                        "createTooltipFunc": function(hotSpotDiv) {
                            hotSpotDiv.classList.add('hotspot-circle');
                            hotSpotDiv.addEventListener('click', function() {
                                window.location.href = "{{ path('app_navigation_coffret_presence') }}";
                            });
                        },
                    },
                    {   //vers le transformateur
                        "pitch": 0,
                        "yaw": 100,
                        "type": "custom",
                        "cssClass": "hotspot-circle",
                        "createTooltipFunc": function (hotSpotDiv) {
                            hotSpotDiv.classList.add('hotspot-circle');
                            hotSpotDiv.addEventListener('click', function () {
                                window.location.href = "{{ path('app_navigation_transformateur') }}";
                            });
                        }
                    },
                    {
                        //vers l'entrée pas activé car pas visible
                        "pitch": 0,
                        "yaw": 28,
                        "type": "custom",
                        "cssClass": "hotspot-circle",
                        "createTooltipFunc": function (hotSpotDiv) {
                            hotSpotDiv.classList.add('hotspot-circle');
                            hotSpotDiv.addEventListener('click', function () {
                                window.location.href = "{{ path('app_navigation_entree') }}";
                            });
                        }
                    }
                ]
            });
        });
    </script>
    </body>


{% endblock %}