{% extends 'base.html.twig' %}

{% block title %}Visualisation 360°{% endblock %}

{% block content %}
    <script src="{{ asset('js/pannellum.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/pannellum.css') }}">

    <body>
    <div id="panorama" style="width: 100%; height: 800px;"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let viewer = pannellum.viewer('panorama', {
                "type": "equirectangular",
                "panorama": "{{ asset('models/ArlodTransformateur.jpg') }}",
                "autoLoad": true,
                "yaw": -60,
                "pitch": 0,
                "hfov": 150,
                "hotSpots": [
                    {   //vers le coffret presence
                        "pitch": 0,  // hauteur du cercle
                        "yaw": 34,  //horizontal du cercle
                        "type": "custom",
                        "cssClass": "hotspot-circle",
                        "createTooltipFunc": function(hotSpotDiv) {
                            hotSpotDiv.classList.add('hotspot-circle');
                            hotSpotDiv.addEventListener('click', function() {
                                window.location.href = "{{ path('app_navigation_coffret_presence') }}";
                            });
                        },
                    },
                    {   //vers l'entrée
                        "pitch": 1,
                        "yaw": 30,
                        "type": "custom",
                        "cssClass": "hotspot-circle",
                        "createTooltipFunc": function (hotSpotDiv) {
                            hotSpotDiv.classList.add('hotspot-circle');
                            hotSpotDiv.addEventListener('click', function () {
                                window.location.href = "{{ path('app_navigation_entree') }}";
                            });
                        }
                    },
                    {
                        //vers la ligne HTB
                        "pitch": 12,
                        "yaw": -88,
                        "type": "custom",
                        "cssClass": "hotspot-circle",
                        "createTooltipFunc": function (hotSpotDiv) {
                            hotSpotDiv.classList.add('hotspot-circle');
                            hotSpotDiv.addEventListener('click', function () {
                                window.location.href = "{{ path('app_navigation_cable_HTB') }}";
                            });
                        }
                    }
                ]
            });
        });
    </script>
    </body>


{% endblock %}