<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> {# La feuille de style CSS dans public/css/styles.css #}

    <style>
        body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
        nav { margin-bottom: 20px; }
        nav a { margin: 0 15px; text-decoration: none; color: blue; font-size: 18px; }
    </style>
</head>
<body>
    {#  SECONDAIRE  empêcher le clic droit mene sur Pannellum#}
    <script src="{{ asset('js/panellum-protection.js') }}"></script>


<nav>
    <a href="{{ path('home') }}">Accueil</a>
    <a href="{{ path('quiz') }}">Quiz</a>
    <a href="{{ path('image') }}">Image</a>
    <a href="{{ path('360_view') }}">Modèle 360</a>
    <a href="{{ path('app_parcours') }}">Parcours</a>
    <a href="{{ path('app_navigation_entree') }}">Navigation</a>
</nav>

<div>
    {% block content %}{% endblock %}
</div>

</body>
</html>
